*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom ,#FFF9CA , #fcfcfc );
   background-color:#FFF9CA ; 
   height: 1000px;
}



header{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}



header h1{
   margin-bottom: 20px;
   font-weight: bold;
   font-size: 60px;
   font-family: 'Fredoka One', cursive;
   
}

header nav ul{
display: flex;
column-gap: 80px;
}

header nav ul li{
    list-style: none;
    background-color:#F2D1D1;
    padding: 5px;
    border-radius: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    
} 

header nav ul li:hover{
    background-color: #FFC4C4;
    transform: scale(1.5);
    
}

.algodon{
    height: 50px;
    width: 15px;

}

/* ESTILOS DEL MAIN */

.pochoclo{

    margin-left: 800px;
}

.escalar{
    animation-name: escalar;
    animation-duration: 15s ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes escalar{
    from{
        transform: scale(0);

    }

    to{
        transform: scale(1.1);
    }
}

.main-p{
    background-color: #FFC4C4 ;
    text-align: center;
    margin-top: 15px;
}



/* ESTILO FORMULARIO */

.formulario{
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #F2D1D1;
    font-weight: bold;
}

.nombre{
   background-color: #F2D1D1;
   width: 305px;
   margin-bottom: 5px;
}

.email{
    background-color: #F2D1D1;
    width: 295px;
    margin-bottom: 5px;
}

.telefono{
    background-color: #F2D1D1;
    width: 355px;
    margin-bottom: 5px;
}

.partido{
    background-color: #F2D1D1;
    width: 250px;
    margin-bottom: 5px;
}

.submit{
    margin-left: 60px;
}




/* ESTILOS DE FOOTER */


h2{
   
    text-align: center;

}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
body{
    
}
    
}